* {
    -webkit-appearance: none !important;
}

.ppt {
    grid-area: ppt;
}
.container{
    padding: 10px;
}
.center{
    text-align: center;
}
.jumbotron{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.row{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.grid {
    display: grid;
}

.btn {
    font-size: 20px;
    width: 100px;
    display: inline-block;
    align: left;
    
}
* {
    -webkit-transform: none;
}
