* {
    -webkit-appearance: none !important;
}

.ppt {
    grid-area: ppt;
}
.container{
    padding: 10px;
}
.center{
    text-align: center;
}
.jumbotron{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.row{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.grid {
    display: grid;
}

button {
    font-size: 30px;
    width: 100px;
    display: inline ;
    align: left;
    background-color: white;
    border-radius: 2px;
    
}

button :: active {
    background-color: blue;
}


* {
    -webkit-transform: none;
}
