
plugin {
  /*
    display: none;
  */
}
.center{
    text-align: center;
}
.jumbotron{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.row{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.grid {
    display: grid;
}

button {
  width: 100px;
  height: 100px;
  font-size: 10pt;
}
